<h1>Data Science Tools and Ecosystem </h1>

<p> In this notebook , Data Science Tools and Ecosystems are summarized.</p>

<b> Objectives: </b>

* List popular languages for Data Science.
* List popular libraries for Data Science.
* Commonly used Data Science Tools.
* Examples of Arithmetic Operations.

<p> Some of the popular languages that Data Scientists used are: </p>

1. Python
2. R
3. SQL

<p> Some of the commonly used libraries used by the Data Scientists include :</p>

1. matplotlib
2. pandas
3. Pytorch

| Data Science Tools|
|-------------------|
|Jupyter Notebook|
|VS Code|
|Google Colab|

<h3> Below are a few examples of evaluating arithmetic expressions in Python </h3>

In [22]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [24]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

<h2> Author </h2>

<p>Souban Behzad </p>